<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>List des Traitements</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       <link rel="stylesheet" type="text/css" th:href="@{/AdminLTE-3.2.0/dist/css/adminlte.min.css}"/>
       <script type="text/javascript" th:src="@{/AdminLTE-3.2.0/dist/js/adminlte.js}"></script>
   </head>
   <body>
   
   
      <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
        <h1 th:text="#{welcome.text}"></h1>
      <h2 th:utext="${message}">..!..</h2>  
  <ul class="navbar-nav">

    <li class="nav-item d-none d-sm-inline-block">
      <a th:href="@{/index}" class="nav-link" th:text="#{accueil.text}"></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a th:href="@{/patientsList}" class="nav-link" th:text = "#{listPatients.text}"></a>
    </li>
    <li class="nav-item dropdown">
      <a th:href="@{/traitementsList}" class="nav-link" th:text = "#{listTraitements.text}"></a>
       </li>
       
      <li class="nav-item dropdown">
      <a th:href="@{/traitementsList/?language=fr}" class="nav-link">FR</a>    
    </li>

     <li class="nav-item dropdown">
      <a th:href="@{/traitementsList/?language=en}" class="nav-link">EN</a>
    </li>
    
     <li class="nav-item dropdown">
      <a th:href="@{/traitementsList/?language=ar}" class="nav-link">العربية</a>
    </li>
        
  </ul>
</nav>
   
   
   
  <!-- code sans Admin LTE
      <h1>List des Traitements</h1>
      <a  class="button  btn2" href="index">Page d'acceuil</a>
      <br/><br/>
   -->   
      <div class="card-title">
         <table class="card-title"  border="1">
            <tr>
               <th class=" bg-primary"  th:text = "#{nomTraitement.text}"></th>
            </tr>
            <tr th:each ="traitement : ${traitementsList}">
               <td th:utext="${traitement.nom}">...</td>
            </tr>
         </tableclass="card card-primary">
      </div>
   </body>
</html>